{% extends "bootstrap_responsive.html" %}

{%- block style_navbar_padding %}
<style>
  body {
    padding-top: 0px;
  }
</style>
{%- endblock style_navbar_padding %}

{% block favicons %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock favicons %}

{% block body_content %}
<div class="container">
    <div class="masthead">
       <ul class="nav nav-pills pull-right">
         <li{% if 'home' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
         <li{% if 'sensors' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('sensors') }}">Sensors</a></li>
       </ul>
        <h1 class="muted">Raspberry Pi logging</h1>
    </div>
</div>

<div class="container">
  {% block body_top %}
  {% endblock body_top %}
  {% block body_main %}
  {% endblock body_main %}
</div>
{% endblock body_content %}

