{% extends "bootstrap_responsive.html" %}

{% block favicons %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock favicons %}

{% block body_content %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Raspberry Pi Temperature Logger</a>
    </div>
  </div>
</div>

<div class="container">
  {% block body_top %}
  {% endblock body_top %}
  <div class="row">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/">Home</a></li>
        <li><a href="/sensors/">Sensors</a></li>
      </ul>
    </div>
    <div class="span10">
      {% block body_main %}
      {% endblock body_main %}
    </div>
  </div>
</div>

{% endblock body_content %}

