{% extends "layout.html" %}

{% block body_top %}
<div class="row">
  <div class="span12">
    <h1>Sensor: {{ sensor }}</h1>

  </div>
</div>
{% endblock body_top %}

{% block body_main %}
<div class="row">
  <div class="span10">
    <div id="chart_day"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['created', 'temp (F)'],
          {% for entry in objects | reverse %}
          ['{{ entry.timestamp() }}', {{ entry.as_fahrenheit() }}],
          {% endfor %}
        ]);
        var options = {
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart_day'));
        chart.draw(data, options);
      }
    </script>
  </div>
</div>

<div class="row">
  <div class="span5">
    <table class="table">
      <tbody>
        <tr>
          <td>Currently</td>
          <td>{{ current }}</td>
        </tr>
        <tr>
          <td>24 hours max</td>
          <td>{{ max_24 }}</td>
        </tr>
        <tr>
          <td>24 hours min</td>
          <td>{{ min_24 }}</td>
        </tr>
        <tr>
          <td>Average</td>
          <td>{{ average }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Temp (F)</td>
          <td>Temp (C)</td>
          <td>Created</td>
        </tr>
      </thead>
      <tbody>
        {% for entry in objects %}
        <tr>
          <td>{{ entry.as_fahrenheit() }}</td>
          <td>{{ entry.as_celsus() }}</td>
          <td>{{ entry.timestamp() }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock body_main %}
